div#test
{ 
	border:grey 20px groove;
	padding:10px 40px 40px 40px;
	margin-top: 30px;
    margin-bottom: 40px;
    margin-right: 300px;
}
	
body
{
	background-image: url("../img/disney-castle.jpg");
	padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 200px;
	color: white;
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}



/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}


p.avatar {
	padding-top: 100px;
    padding-right: 150px;
    padding-bottom: 200px;
    padding-left: 400px;

}